<%= @listing.name %> <br>
<%= @listing.description %> <br>
<%= @listing.price %> 


<form action='/book/<%=@listing.listing_id%>' method='post'>
  <input type='date' id='start' name='start_date' >
  <input type='date' id='end' name='end_date' >
  <input type='submit' value='Request to book'>
</form>

