Makers BnB

<%if flash[:notice]%>
<%= flash[:notice] %>
<% end%>

<form action='/sign_up' method='post'>
  <input type='text' name='name' placeholder='Your name'>
  <input type='text' name='email' placeholder='Your email'>
  <input type='password' name='password' placeholder='Your password'>
  <input type='submit' value='Sign Up'>
</form>

<% if session[:user] %>
  <form action='/log_out' method='get'>
    <input type='submit' value='Log Out'>
  </form>
  <% else %>
    <form action='/log_in' method='get'>
      <input type='submit' value='Log In'>
    </form>
<% end %>
