Makers BnB

<form action='/listings' method='gets'>
  <input type='text' name='name' placeholder='Your name'>
  <input type='text' name='email' placeholder='Your email'>
  <input type='text' name='password' placeholder='Your password'>
  <input type='submit' value='Sign In'>
</form>
