Makers BnB

<form action='/sign_up' method='post'>
  <input type='text' name='name' placeholder='Your name'>
  <input type='text' name='email' placeholder='Your email'>
  <input type='text' name='password' placeholder='Your password'>
  <input type='submit' value='Sign In'>
</form>
